<div id="template_cart_toolbar_action"><!--
  <li id="cart">
    <div class="btn-group">
      <button class="btn btn-default navbar-btn show-cart-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span class="badge cart-count"></span>
      </button>
      <div class=btn-group>
        <button class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <div id="cartSummaryDropdownPanel" class="dropdown-menu pull-right">
          <%= link_to I18n.t("cart.checkout"), {:controller => :cart, :action => :checkout}, {:class => "btn btn-primary"} %>
        </div>
      </div>
    </div>
  </li>
--></div>

<div id="template_cart_dialog_title"><!--
  <%= I18n.t("cart.your_cart") %>
--></div>

<div id="template_cart_dialog_contents"><!--
  {if ($.isEmptyObject(selected))}
    <div class="alert alert-info">Cart is empty</div>
  {else}
    <div class="cart-preview">
      <table class="table table table-striped table-bordered table-condensed table-hover token-list">
        <tbody>
      {for record in selected}
        <tr data-uri="${record.uri}">
          <td>
            <div class="${record.record_type}">
              <span class="icon-token"></span> ${record.display_string}
            </div>
            <div class="extra-context" style="display:none"></div>
          </td>
          <td>
            <div class="btn-group pull-right">
              {if record.record_type == 'archival_object'}
              <button class="btn btn-xs btn-default expand-context-btn">
                <span class="glyphicon glyphicon-screenshot"></span>
              </button>
              {/if}
              <button class="btn btn-xs btn-warning remove-from-cart-btn">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </td>
        </tr>
      {/for}
        </tbody>
      </table>
    </div>
  {/if}
--></div>

<div id="template_cart_dialog_footer"><!--
<div class="modal-footer">
  <%= link_to I18n.t("cart.checkout"), {:controller => :cart, :action => :checkout}, {:class => "btn btn-primary pull-left"} %>
  <button class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.t("actions.close") %></button>
  <button class="btn btn-warning pull-right clear-cart-btn" data-dismiss="modal"><%= I18n.t("cart.cart_clear_selection_button")  %></button>
</div>
--></div>

<div id="template_cart_actions"><!--
  <button class="btn btn-xs btn-info add-to-cart-btn"><span class="glyphicon glyphicon-shopping-cart"></span> <%= I18n.t("cart.add_action") %></button>
  <button class="btn btn-xs btn-warning remove-from-cart-btn hide"><span class="glyphicon glyphicon-shopping-cart"></span> <%= I18n.t("cart.remove_action") %></button>
--></div>

<% if current_user && current_repo %>
<script>
  var CURRENT_REPO_URI = '<%= current_repo.uri %>'
</script>
<% end %>