<%
  def search_page?
    controller.controller_name == "search"
  end
%>

<div id="template_cart_toolbar_action"><!--
  <li id="cart" data-limit="<%= CartSettings.limit %>" data-is-search-page="<%= search_page? %>">
    <div class="btn-group">
      <button class="btn btn-default navbar-btn show-cart-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span class="badge cart-count"></span>
      </button>
      <div class=btn-group>
        <button class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <div id="cartSummaryDropdownPanel" class="dropdown-menu pull-right">
          <%= link_to I18n.t("cart.checkout"), {:controller => :cart, :action => :checkout}, {:class => "btn btn-primary"} %>
          <hr>
          <%= link_to I18n.t("cart.cart_clear_selection_button"), "javascript:void(0)", {:class => "btn btn-sm btn-warning clear-cart-btn"} %>
        </div>
      </div>
    </div>
  </li>
--></div>

<div id="template_cart_dialog_title"><!--
  <%= I18n.t("cart.your_cart") %>
--></div>

<div id="template_cart_dialog_contents"><!--
  {if ($.isEmptyObject(selected))}
    <div class="alert alert-info"><%= I18n.t("cart.is_empty") %></div>
  {else}
    <div id="cartCheckoutPane" data-load-url="<%= url_for :controller => :cart, :action => :summary %>">
      <div class="alert alert-info">
        <%= I18n.t("cart.loading") %>
      </div>
    </div>
  {/if}
--></div>

<div id="template_cart_dialog_footer"><!--
<div class="modal-footer">
  <%= link_to I18n.t("cart.checkout"), {:controller => :cart, :action => :checkout}, {:class => "btn btn-primary pull-left"} %>
  <button class="btn btn-default pull-right" data-dismiss="modal"><%= I18n.t("actions.close") %></button>
  <button class="btn btn-warning pull-right clear-cart-btn" data-dismiss="modal"><%= I18n.t("cart.cart_clear_selection_button")  %></button>
</div>
--></div>

<div id="template_cart_actions"><!--
  <div class="cart-actions">
    <button class="btn btn-xs btn-info cart-btn add-to-cart-btn"><span class="glyphicon glyphicon-shopping-cart"></span> <%= I18n.t("cart.add_action") %></button>
    <button class="btn btn-xs btn-warning cart-btn remove-from-cart-btn hide"><span class="glyphicon glyphicon-shopping-cart"></span> <%= I18n.t("cart.remove_action") %></button>
  </div>
--></div>

<div id="template_cart_add_all_action"><!--
  <button class="btn btn-xs btn-info add-all-from-search-to-cart-btn">
    <%= image_tag "#{AppConfig[:frontend_prefix]}assets/images/btn-info-busy.gif", :class => "loading hide" %>
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span class="action-text"><%= I18n.t("cart.add_all_action") %></span>
    <span class="success-text hide"><%= I18n.t("cart.add_all_action_success") %></span>
  </button>
--></div>


<% if current_user && current_repo %>
<script>
  var CURRENT_REPO_URI = '<%= current_repo.uri %>'
  var CURRENT_USER_HASH = '<%= Digest::MD5.hexdigest(current_user) %>';
</script>
<% end %>