<% @expanded[:records_by_type].each do |type, records| %>
  <% if ['resource', 'archival_object'].include?(type)
      next
     end %>
  <h3><%= I18n.t("#{type}._plural") %></h3>

  <ul>
    <% records.each do |record| %>
      <li>
        <strong><%= record['display_string'] || record['title'] %></strong>
      </li>
    <% end %>
  </ul>
<% end %>

<% if !@expanded[:component_trees].blank? %>

  <% render_tree_node = lambda do |node| %>
    <% selected = @uris.include?(node['record_uri']) %>
    <% if !selected && node['children'].blank?
         next
       end
    %>
    <li>
      <% if selected %>
        <strong><%= node['title'] %></strong>
      <% else %>
        <%= node['title'] %>
      <% end %>

      <% if !node['children'].blank? %>
        <ul>
          <% node['children'].each do |child| %>
            <% render_tree_node.call(child) %>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>

  <h3><%= I18n.t("resource._plural") %> &amp; <%= I18n.t("archival_object._plural") %></h3>
  <ul>
    <% @expanded[:component_trees].each do |_, resource| %>
      <% render_tree_node.call(resource) %>
    <% end %>
  </ul>
<% end %>

<pre class="hide"><%= @expanded[:component_trees].inspect %></pre>
<pre class="hide"><%= @cart.inspect %></pre>