<%= setup_context(:title => I18n.t("cart.checkout")) %>

<div id="cartCheckoutPane" class="row">
  <div class="col-md-12">
    <div class="record-pane">
      <button class="btn btn-warning clear-cart-btn pull-right"><%= I18n.t("cart.cart_clear_selection_button") %></button>
      <button id="generateReportFromCart" class="btn btn-primary pull-right" disabled>
        <span class="action-text"><%= I18n.t("cart.summary.generate_report") %></span>
        <span class="loading-text" style="display: none"><%= I18n.t("cart.summary.generating_report") %></span>
      </button>
      <div class="pull-right report-type">
        <select id="generateReportType" class="form-control pull-right">
          <option selected value="patron"><%= I18n.t("cart.summary.report_type.patron") %></option>
          <option selected value="staff_only"><%= I18n.t("cart.summary.report_type.staff_only") %></option>
          <option value="shared_shelf"><%= I18n.t("cart.summary.report_type.shared_shelf") %></option>
        </select>
      </div>
      <label class="pull-right lead report-type" for="generateReportType">Report Type:</label>

      <h2><%= I18n.t("cart.checkout") %></h2>

      <% if @report_errors %>
        <pre><%= @report_errors.inspect %></pre>
      <% end %>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= form_tag(url_for(:controller => :cart, :action => :download_report), :method => :post, :id => "componentReportForm") do -%>
        <div id="cartData" data-load-url="<%= url_for :controller => :cart, :action => :summary %>">
          <div class="alert alert-info">
            <%= I18n.t("cart.loading") %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/search_cart.checkout.js" %>"></script>